#loginPane, #registerPage {
	-fx-background-image: url(/resources/back.png);
	-fx-background-size: cover;
	-fx-background-color: #fff;
}
#Start {
	-fx-background-image : url(/resources/start.gif);
	-fx-background-size : 100% 100%;
}
#loginLabel {
	-fx-effect: dropshadow(gaussian, #ffffff, 10, 0.1, 0, 0);
	/*블루어효과, 색상, blur범위, 흩어지는 정도, x, y*/
}

#registerTitle {
	-fx-effect: dropshadow(gaussian, #ffffff, 10, 0.1, 0, 0);
}

#registerForm {
	-fx-background-color: rgba(230, 230, 230, 0.5);
	-fx-background-radius: 20px;
}

.btn {
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-text-fill: #fff;
}

.btn-success {
	-fx-background-color:#007bff;
	-fx-border-color:#007bff;
}

.btn-success:hover {
	-fx-background-color:#0069d9;
	-fx-border-color:#0062cc;
}

.btn-danger {
	-fx-background-color:#dc3545;
	-fx-border-color: #dc3545;
}

.btn-danger:hover {
	-fx-background-color:#c82333;
	-fx-border-color: #bd2130;
}
#colorPane {
	-fx-background-color:#E8D9FF;
}
.CAbtn {
	-fx-background-color : #FAF4C0;
	-fx-border-color : #FAF4C0;
}
.CAbtn:hover {
	-fx-background-color:#ffa100;
	-fx-border-color: #ffa100;
}
.LGbtn {
	-fx-background-color : #D9E5FF;
	-fx-border-color : #D9E5FF;
}
.LGbtn:hover {
	-fx-background-color:#006fff;
	-fx-border-color:#006fff;
}
.vbtn {
	-fx-background-color : #FAF4C0;
	-fx-border-color : #FAF4C0;
}
.vbtn:hover {
	-fx-background-color : #D9E5FF;
	-fx-border-color : #D9E5FF;
}
.ngbtn {
	-fx-background-color : #CEFBC9;
	-fx-border-color : #CEFBC9;
}
.ngbtn:hover {
	-fx-background-color : #86E57F;
	-fx-border-color : #86E57F;
}
.lgbtn {
	-fx-background-color : #FFE08C;
	-fx-border-color : #FFE08C;
}
.lgbtn:hover {
	-fx-background-color : #FFBB00;
	-fx-border-color : #FFBB00;
}
.mmbtn {
	-fx-background-color : #FAF4C0;
	-fx-border-color : #FAF4C0;
}
.mmbtn:hover {
	-fx-background-color : #D9E5FF;
	-fx-border-color : #D9E5FF;
}
.opbtn {
	-fx-background-color : #D9E5FF;
	-fx-border-color : #D9E5FF;
}
.opbtn:hover {
	-fx-background-color : #FAF4C0;
	-fx-border-color : #FAF4C0;
}
.btn-change {
	-fx-background-color : #CEFBC9;
	-fx-border-color : #CEFBC9;
}
.btn-change :hover {
	-fx-background-color : #86E57F;
	-fx-border-color : #86E57F;
}